.red{
   background-color: #bd2130;
    min-height: 400px;
}
.bg{
    background-image: url("../imgg/9484d763732787ea40704458ae7b5248.jpg");
}
html,body { margin:0; height:100%;}

.parallax {
    /* L’image du Parallax */
    background-image: url("../imgg/9484d763732787ea40704458ae7b5248.jpg");

    /* L’hauteur du Parallax */
    height: 100%;

    /* Création de l’effet */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bgOpaque{
    background-color: rgba(70, 70, 70, 0.5);
}
.bgOpaque2{
    background-color: rgba(68, 70, 10, 0.5);
}
.bg2{
    background-color: #1d2124;
}
.parallax2{

    background-image: url("../imgg/thumb-1920-451608.jpg");
    height: 100%;

    /* Création de l’effet */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax3{
    background-image: url("../imgg/thumb-1920-817845.png");
    height: 100%;
    /* Création de l’effet */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.green{
    background-color: #1c7430;
    height: 400px;
}
.blue{
    background-color: darkslateblue;
    min-height: 400px;}

header {
    position: relative;
    background-color: black;
    height: 100%;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}
