html,body{
    margin: 0;
    height: 100%;
}


.navbar {
    background-color: #3a3124;
}
.navbar .navbar-brand {
    color: #ffffff;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #ffffff;
}
.navbar .navbar-text {
    color: #ffffff;
}
.navbar .navbar-text a {
    color: #ffffff;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
    color: #ffffff;
}
.navbar .navbar-nav .nav-link {
    color: #ffffff;
    border-radius: .25rem;
    margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #ffffff;
}
.navbar .navbar-nav .dropdown-menu {
    background-color: #3a3124;
    border-color: #fb7015;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item {
    color: #ffffff;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
    color: #ffffff;
    background-color: #fb7015;
}
.navbar .navbar-nav .dropdown-menu .dropdown-divider {
    border-top-color: #fb7015;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #ffffff;
    background-color: #fb7015;
}
.navbar .navbar-toggle {
    border-color: #fb7015;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #fb7015;
}
.navbar .navbar-toggle .navbar-toggler-icon {
    color: #ffffff;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: #ffffff;
}
.navbar .navbar-link {
    color: #ffffff;
}
.navbar .navbar-link:hover {
    color: #ffffff;
}

@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ffffff;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #ffffff;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #ffffff;
        background-color: #fb7015;
    }
}

@media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ffffff;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #ffffff;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #ffffff;
        background-color: #fb7015;
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ffffff;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #ffffff;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #ffffff;
        background-color: #fb7015;
    }
}

@media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ffffff;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #ffffff;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #ffffff;
        background-color: #fb7015;
    }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffffff;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffffff;
    background-color: #fb7015;
}


.dropbtn {
    background-color: deeppink;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: #dddddd;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #e0830f;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: hotpink;}




html,body { margin:0; height:100%;}

.parallax {
    /* L’image du Parallax */
    background-image: url("../imgg/412219.jpg");

    /* L’hauteur du Parallax */
    height: 100%;

    /* Création de l’effet */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax2 { /* L’image du Parallax */
    background-image: url("../imgg/akatsuki-wallpaper-1920x1080.png");

    /* L’hauteur du Parallax */
    height: 100%;

    /* Création de l’effet */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.parallax3{

    background-image: url("../imgg/Download-Free-Akatsuki-Wallpaper.png");

    /* L’hauteur du Parallax */
    height: 100%;

    /* Création de l’effet */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg{
    background-color: #e0830f;
}
.bluee{
    background-color: darkslateblue;
}
.p{
    text-shadow: 0 0 2px #000000;
}
.blue{
    color: darkslateblue;
}
header {
    position: relative;
    background-color: black;
    height: 100%;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.black{
    background-color: #343a40;
}
.orange{
    color:  #e0830f;
}
.red{
    color: #a71d2a;
}
.burger{
    display: block;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: #e0830f;
    margin: 5px;
}
.fa-bars{
    width: 50px;
    margin: 5px;
}
.modal-body{
    background-color: #343a40;
    min-height: 600px;
    min-width: 600px;
}
.modal-header{
    background-color: #e0830f;

    min-width: 600px;
}
.modal-footer{
    background-color: #e0830f;

    min-width: 600px;
}
.bg2{
    background-image: url("../imgg/456817.jpg");

  min-width: auto;
   height: 600px;
    align-content: first;
}
.blue2{
    color: #007bff;
}
.yellow{
    color: gold;
}
.police1{
    font-style: oblique;
    font-family: Verdana sans-serif;

}
.blue3{
    color: #004085;
}
.bgW{
    background-color: white;
}