html,body{
    height: 100%;
    padding: 0;
}




.bg2{
    background-color: #343a40;
}
.navbar{
    background-color: #b3d7ff;
}

#jcart-go-code{
    padding: 10px;
    color: #e0a800;
}
#link{
    width: 200px;
}
#alphabetPhoto{
    width: 1000px;
}